framework:
    messenger:
        # Uncomment this (and the failed transport below) to send failed messages to this transport for later handling.
        failure_transport: failed

        transports:
            # https://symfony.com/doc/current/messenger.html#transport-configuration
            async: '%env(MESSENGER_TRANSPORT_DSN)%'
            failed: 'doctrine://default?queue_name=failed'
            sync: 'sync://'

        routing:
            # Route your messages to the transports
            Symfony\Component\Mailer\Messenger\SendEmailMessage: async
            Symfony\Component\Notifier\Message\ChatMessage: async
            Symfony\Component\Notifier\Message\SmsMessage: async
when@test:
    framework:
        messenger:
            routing:
                # Route your messages to the transports
                Symfony\Component\Mailer\Messenger\SendEmailMessage: sync
                Symfony\Component\Notifier\Message\ChatMessage: sync
                Symfony\Component\Notifier\Message\SmsMessage: sync
