parameters:
    level: 6
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
        console_application_loader: build/phpstan/console-loader.php
    doctrine:
        objectManagerLoader: build/phpstan/doctrine-orm-bootstrap.php
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
        - tests
