parameters:
    level: 7
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
        - tests
