html {
    margin: 0;
    background-image: url("/img/essen.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    font-family: 'cakefont', sans-serif;
}

body {
    margin: 0;
}

.content {
    max-width: 60vw;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}


.paginator {
    text-align: right;

    .pagination {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0 0 1rem;

        li {
            margin: 0 0.5rem;
        }
    }
}

.info {
    font-size: 24px;
    background-color: rgba(255, 0, 0, 0.3);
    padding: 10px;
}

textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    outline: none;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
    resize: none;

    &:focus {
        border-bottom: 1px solid $accentcolor;
    }
}

/* Flash messages */
.message {
    padding: 1rem;

    background: #eff8ff;
    color: #2779bd;

    border-color: #6cb2eb;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 2rem;

    &.hidden {
        display: none;
    }

    &.success {
        background: #e3fcec;
        color: #1f9d55;
        border-color: #51d88a;
    }

    &.error {
        background: #fcebea;
        color: #cc1f1a;
        border-color: #ef5753;
    }
}

.displayName {
    margin-bottom: 15px;

    .btn {
        color: black;
        text-decoration: none;

        i {
            font-size: initial !important;
        }
    }
}
