.paypalmeslistitem {
    display: block;
    background-color: $accentcolor;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 10px;
    &.active,
    &.self {
        box-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 80px #00b3ff;
    }
    button {
        display: block;
        background-color: transparent;
        padding: 10px;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: black;
        border: none;
        outline: none;
        cursor: pointer;
    }
    &:hover {
        background-color: darken($accentcolor, 10%);
    }
}

input[type="number"] {
    margin-bottom: 10px;
    width: 100%;
}