.paypalmeslistitem {
    display: flex;
    gap: 5px;
    background-color: $accentcolor;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 10px;
    &.active,
    &.self {
        box-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 80px #00b3ff;
        background: #ffffff;
        animation: active 2s linear infinite;
        position: relative;
        z-index: 100;
    }
    &.active {
        button:first-child {
            width: calc(100% - 4em);
            flex-shrink: 0;
        }
        button:last-child {
            border-left: 1px solid black;
            border-radius: 6px;
            padding: 7px 0;
            i {
                font-size: 1.4em;
            }
            &:hover {
                background-color: rgba(0, 0, 0, 0.2);
            }
        }
    }
    button {
        display: block;
        background-color: transparent;
        padding: 10px;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: black;
        border: none;
        outline: none;
        cursor: pointer;
    }
    &:hover {
        background-color: darken($accentcolor, 10%);
    }
}

input[type="number"] {
    margin-bottom: 10px;
    width: 100%;
}

@keyframes active {
    0%,
    100% {
        background: #ffffff;
    }
    25% {
        background: #fff5c9;
    }
    90% {
        background: #fbfeff;
    }
}