@charset "UTF-8";
html {
  margin: 0;
  background-image: url("/img/essen.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  font-family: "cakefont", sans-serif;
}

body {
  margin: 0;
}

main {
  margin-top: 100px;
}

.content {
  max-width: 60vw;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.paginator {
  text-align: right;
}
.paginator .pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0 0 1rem;
}
.paginator .pagination li {
  margin: 0 0.5rem;
}

.info {
  font-size: 24px;
  background-color: rgba(255, 0, 0, 0.3);
  padding: 10px;
}

textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  outline: none;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
  resize: none;
}
textarea:focus {
  border-bottom: 1px solid #ffa303;
}

/* Flash messages */
.message {
  padding: 1rem;
  background: #eff8ff;
  color: #2779bd;
  border-color: #6cb2eb;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  margin-bottom: 2rem;
}
.message.hidden {
  display: none;
}
.message.success {
  background: #e3fcec;
  color: #1f9d55;
  border-color: #51d88a;
}
.message.error {
  background: #fcebea;
  color: #cc1f1a;
  border-color: #ef5753;
}

.displayName {
  margin-bottom: 15px;
}
.displayName .btn {
  color: black;
  text-decoration: none;
}
.displayName .btn i {
  font-size: initial !important;
}

.modal {
  visibility: hidden;
  /* Hidden by default */
  display: block;
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  backdrop-filter: blur(2px);
  transition: all 0.5s ease;
  opacity: 0;
}
.modal.active {
  visibility: visible;
  opacity: 1;
}
.modal .modal-content {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  /* Could be more or less, depending on screen size */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.modal .close {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal .close:hover, .modal .close:focus {
  color: #ff4400;
  text-decoration: none;
  cursor: pointer;
}
.modal .btn {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.25);
  margin-top: 10px;
  transition: background-color 0.1s linear;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.modal .btn:hover {
  cursor: not-allowed;
}
.modal .btn:hover[href] {
  background-color: #cf8300;
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 740px) {
  .modal .modal-content {
    width: 80%;
  }

  footer {
    display: none;
  }
}
#navbar {
  overflow: hidden;
  background-color: #333;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
#navbar span {
  color: #ffa303;
  padding: 14px 16px;
  float: left;
  z-index: 1;
}
#navbar a {
  transition: background-color 0.1s linear;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  z-index: 1;
}
#navbar a.active {
  background-color: #ffa303;
  color: white;
  z-index: 1;
}
#navbar a:hover {
  background-color: #ddd;
  color: black;
  z-index: 1;
}
#navbar .icon {
  display: none;
  z-index: 1;
}

@keyframes navLoad {
  0% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 100%, rgba(0, 0, 0, 0) 120%);
    max-width: 0%;
  }
  1% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 99%, rgba(0, 0, 0, 0) 119%);
    max-width: 1%;
  }
  2% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 98%, rgba(0, 0, 0, 0) 118%);
    max-width: 2%;
  }
  3% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 97%, rgba(0, 0, 0, 0) 117%);
    max-width: 3%;
  }
  4% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 96%, rgba(0, 0, 0, 0) 116%);
    max-width: 4%;
  }
  5% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 95%, rgba(0, 0, 0, 0) 115%);
    max-width: 5%;
  }
  6% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 94%, rgba(0, 0, 0, 0) 114%);
    max-width: 6%;
  }
  7% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 93%, rgba(0, 0, 0, 0) 113%);
    max-width: 7%;
  }
  8% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 92%, rgba(0, 0, 0, 0) 112%);
    max-width: 8%;
  }
  9% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 91%, rgba(0, 0, 0, 0) 111%);
    max-width: 9%;
  }
  10% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 90%, rgba(0, 0, 0, 0) 110%);
    max-width: 10%;
  }
  11% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 89%, rgba(0, 0, 0, 0) 109%);
    max-width: 11%;
  }
  12% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 88%, rgba(0, 0, 0, 0) 108%);
    max-width: 12%;
  }
  13% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 87%, rgba(0, 0, 0, 0) 107%);
    max-width: 13%;
  }
  14% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 86%, rgba(0, 0, 0, 0) 106%);
    max-width: 14%;
  }
  15% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 85%, rgba(0, 0, 0, 0) 105%);
    max-width: 15%;
  }
  16% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 84%, rgba(0, 0, 0, 0) 104%);
    max-width: 16%;
  }
  17% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 83%, rgba(0, 0, 0, 0) 103%);
    max-width: 17%;
  }
  18% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 82%, rgba(0, 0, 0, 0) 102%);
    max-width: 18%;
  }
  19% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 81%, rgba(0, 0, 0, 0) 101%);
    max-width: 19%;
  }
  20% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 80%, rgba(0, 0, 0, 0) 100%);
    max-width: 20%;
  }
  21% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 79%, rgba(0, 0, 0, 0) 99%);
    max-width: 21%;
  }
  22% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 78%, rgba(0, 0, 0, 0) 98%);
    max-width: 22%;
  }
  23% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 77%, rgba(0, 0, 0, 0) 97%);
    max-width: 23%;
  }
  24% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 76%, rgba(0, 0, 0, 0) 96%);
    max-width: 24%;
  }
  25% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 75%, rgba(0, 0, 0, 0) 95%);
    max-width: 25%;
  }
  26% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 74%, rgba(0, 0, 0, 0) 94%);
    max-width: 26%;
  }
  27% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 73%, rgba(0, 0, 0, 0) 93%);
    max-width: 27%;
  }
  28% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 72%, rgba(0, 0, 0, 0) 92%);
    max-width: 28%;
  }
  29% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 71%, rgba(0, 0, 0, 0) 91%);
    max-width: 29%;
  }
  30% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 70%, rgba(0, 0, 0, 0) 90%);
    max-width: 30%;
  }
  31% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 69%, rgba(0, 0, 0, 0) 89%);
    max-width: 31%;
  }
  32% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 68%, rgba(0, 0, 0, 0) 88%);
    max-width: 32%;
  }
  33% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 67%, rgba(0, 0, 0, 0) 87%);
    max-width: 33%;
  }
  34% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 66%, rgba(0, 0, 0, 0) 86%);
    max-width: 34%;
  }
  35% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 65%, rgba(0, 0, 0, 0) 85%);
    max-width: 35%;
  }
  36% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 64%, rgba(0, 0, 0, 0) 84%);
    max-width: 36%;
  }
  37% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 63%, rgba(0, 0, 0, 0) 83%);
    max-width: 37%;
  }
  38% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 62%, rgba(0, 0, 0, 0) 82%);
    max-width: 38%;
  }
  39% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 61%, rgba(0, 0, 0, 0) 81%);
    max-width: 39%;
  }
  40% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 60%, rgba(0, 0, 0, 0) 80%);
    max-width: 40%;
  }
  41% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 59%, rgba(0, 0, 0, 0) 79%);
    max-width: 41%;
  }
  42% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 58%, rgba(0, 0, 0, 0) 78%);
    max-width: 42%;
  }
  43% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 57%, rgba(0, 0, 0, 0) 77%);
    max-width: 43%;
  }
  44% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 56%, rgba(0, 0, 0, 0) 76%);
    max-width: 44%;
  }
  45% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 55%, rgba(0, 0, 0, 0) 75%);
    max-width: 45%;
  }
  46% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 54%, rgba(0, 0, 0, 0) 74%);
    max-width: 46%;
  }
  47% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 53%, rgba(0, 0, 0, 0) 73%);
    max-width: 47%;
  }
  48% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 52%, rgba(0, 0, 0, 0) 72%);
    max-width: 48%;
  }
  49% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 51%, rgba(0, 0, 0, 0) 71%);
    max-width: 49%;
  }
  50% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 50%, rgba(0, 0, 0, 0) 70%);
    max-width: 50%;
  }
  51% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 49%, rgba(0, 0, 0, 0) 69%);
    max-width: 51%;
  }
  52% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 48%, rgba(0, 0, 0, 0) 68%);
    max-width: 52%;
  }
  53% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 47%, rgba(0, 0, 0, 0) 67%);
    max-width: 53%;
  }
  54% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 46%, rgba(0, 0, 0, 0) 66%);
    max-width: 54%;
  }
  55% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 45%, rgba(0, 0, 0, 0) 65%);
    max-width: 55%;
  }
  56% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 44%, rgba(0, 0, 0, 0) 64%);
    max-width: 56%;
  }
  57% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 43%, rgba(0, 0, 0, 0) 63%);
    max-width: 57%;
  }
  58% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 42%, rgba(0, 0, 0, 0) 62%);
    max-width: 58%;
  }
  59% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 41%, rgba(0, 0, 0, 0) 61%);
    max-width: 59%;
  }
  60% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 60%;
  }
  61% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 61%;
  }
  62% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 62%;
  }
  63% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 63%;
  }
  64% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 64%;
  }
  65% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 65%;
  }
  66% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 66%;
  }
  67% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 67%;
  }
  68% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 68%;
  }
  69% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 69%;
  }
  70% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 70%;
  }
  71% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 71%;
  }
  72% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 72%;
  }
  73% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 73%;
  }
  74% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 74%;
  }
  75% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 75%;
  }
  76% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 76%;
  }
  77% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 77%;
  }
  78% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 78%;
  }
  79% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 79%;
  }
  80% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 80%;
  }
  81% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 81%;
  }
  82% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 82%;
  }
  83% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 83%;
  }
  84% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 84%;
  }
  85% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 85%;
  }
  86% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 86%;
  }
  87% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 87%;
  }
  88% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 88%;
  }
  89% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 89%;
  }
  90% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 90%;
  }
  91% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 91%;
  }
  92% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 92%;
  }
  93% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 93%;
  }
  94% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 94%;
  }
  95% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 95%;
  }
  96% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 96%;
  }
  97% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 97%;
  }
  98% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 98%;
  }
  99% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 99%;
  }
  100% {
    background: linear-gradient(90deg, #ffa303 0%, #ffa303 40%, rgba(0, 0, 0, 0) 60%);
    max-width: 100%;
  }
}
@media screen and (max-width: 740px) {
  #navbar a:not(:first-child) {
    visibility: hidden;
  }
  #navbar span {
    display: none;
    float: none;
    max-height: 0;
  }
  #navbar a.icon {
    float: right;
    display: block;
    padding: 9.5px 16px;
    position: absolute;
    visibility: visible;
    right: 0;
    top: 0;
  }
  #navbar.responsive {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
  #navbar.responsive a, #navbar.responsive span {
    float: none;
    visibility: visible;
    text-align: left;
  }
  #navbar.responsive a.active, #navbar.responsive span.active {
    animation: navLoad 0.2s forwards;
  }
}
.foodcard {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 1px 10px 10px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  display: block;
}
.foodcard h2 {
  font-size: 24px;
  text-overflow: fade;
}
.foodcard span {
  font-size: 16px;
}
.foodcard .actionbar {
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
}
.foodcard .actionbar a {
  text-decoration: none;
  color: black;
}
.foodcard .actionbar a.btn {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.25);
  margin-top: 10px;
  transition: background-color 0.1s linear;
  border-radius: 6px;
}
.foodcard .actionbar a.btn:hover {
  background-color: #cf8300;
}

@media screen and (max-width: 600px) {
  .foodcard .actionbar a.btn {
    width: calc(100% - 20px);
    display: inline-block;
    text-align: center;
  }
}
.paypalmeslistitem {
  display: block;
  background-color: #ffa303;
  text-align: center;
  border-radius: 6px;
  margin-bottom: 10px;
}
.paypalmeslistitem.active, .paypalmeslistitem.self {
  box-shadow: 0 0 40px #005cfc, inset 0 0 50px #005cfc;
  animation: active 3s linear infinite;
}
.paypalmeslistitem button {
  display: block;
  background-color: transparent;
  padding: 10px;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
}
.paypalmeslistitem:hover {
  background-color: #cf8300;
}

input[type=number] {
  margin-bottom: 10px;
  width: 100%;
}

@keyframes active {
  0% {
    filter: none;
    box-shadow: none;
  }
  25% {
    box-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 80px #00b3ff;
    background: #ffffff;
    color: black;
  }
  100% {
    filter: none;
    box-shadow: none;
  }
}
.input label {
  display: block;
}
.input.text input, .input.email input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
  transition: border 0.3s, -webkit-box-shadow 0.3s;
}
.input.text input:focus, .input.email input:focus {
  border-bottom: 1px solid #ffa303;
}
.input.select {
  appearance: none;
}
.input.select option {
  padding: 5px;
}
.input.required label::after {
  content: " *";
  color: red;
}
.input.error, .input .error-message {
  color: orangered;
}

.submit input {
  padding: 10px;
  background-color: #ffa303;
  margin-top: 10px;
  transition: background-color 0.1s linear;
  border-radius: 6px;
  border: none;
}
.submit input:hover {
  background-color: #cf8300;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius: 6px;
  font-size: 120%;
}
.accordion:hover, .accordion.active {
  background-color: #ccc;
}
.accordion.active {
  margin-bottom: 10px;
}
.accordion:after {
  content: "➕";
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
.accordion.active:after {
  content: "➖";
  /* Unicode character for "minus" sign (-) */
}

.panel {
  padding: 0 18px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/*# sourceMappingURL=style.css.map */
