{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h1 class="title-large on-surface-text">Verwaltung</h1>
    <ul style="list-style: none">
        <li><a class="body-medium on-surface-text" href="{{ path('holidays') }}"><i class="material-icons">link</i> Urlaube verwalten</a></li>
    </ul>
{% endblock %}
