{% extends 'base.html.twig' %}

{% block title %}{{ 'pay.titles.paypal_add'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="column-responsive column-80">
            <div class="paypalmes form content">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
