.accordion {
    // background-color: #eee;
    // color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 6px;
    font-size: 120%;
    &.active {
        margin-bottom: 10px;
        background-color: var(--md-sys-color-primary-container);
        color: var(--md-sys-color-on-primary-container);
    }
    &:after {
        font-family: "Material Icons";
        content: "unfold_more_horizontal";
        -webkit-font-feature-settings: "liga";
        color: var(--md-sys-color-on-surface);
        float: right;
        margin-left: 5px;
        width: 1em;
        overflow-x: hidden;
    }
    &.active:after {
        font-family: 'Material Icons';
        content: "unfold_less_horizontal";
        -webkit-font-feature-settings: 'liga';
        color: var(--md-sys-color-on-primary-container);
    }
}

.panel {
    padding: 0 18px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.accordion-list {
    display: flex;
    gap: 1px;
    flex-direction: column;
}
