.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid var(--md-sys-color-outline);
    white-space: nowrap;
    font-family: sans-serif;
    background: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
    border-radius: 5px;
    padding: 0;
    li {
        padding: 8px 12px;
        cursor: pointer;
        list-style-type: none;
        transition: all .3s ease;
        user-select: none;
        &:hover:not(.disabled) {
            background-color: #DEF;
        }
        &.disabled {
            color: var(--md-sys-color-surface-inverse);
            cursor: not-allowed;
        }
    }
}