body {
    margin: 0;
}

main {
    margin-top: 5rem;
}

.content {
    max-width: 60vw;
    // background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    @include shadow
}

.paginator {
    text-align: right;
    .pagination {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0 0 1rem;
        li {
            margin: 0 0.5rem;
        }
    }
}

.info {
    font-size: 24px;
    // background-color: rgba(255, 0, 0, 0.3);
    padding: 10px;
}

textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    outline: none;
    width: 100%;
    min-height: 5rem;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
    resize: vertical;
    &:focus {
        border-bottom: 1px solid var(--md-sys-color-primary);
    }
}


/* Flash messages */

.message {
    padding: 1rem;
    background: #eff8ff;
    color: #2779bd;
    border-color: #6cb2eb;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 2rem;
    &.hidden {
        display: none;
    }
    &.success {
        background: #e3fcec;
        color: #1f9d55;
        border-color: #51d88a;
    }
    &.error {
        background: #fcebea;
        color: #cc1f1a;
        border-color: #ef5753;
    }
    &.warning {
        background: #fbf5b9;
        color: #8f6d0b;
        border-color: #d9b966;
    }
}

.displayName {
    margin-bottom: 15px;
    .btn {
        // color: black;
        text-decoration: none;
        i {
            font-size: initial !important;
        }
    }
}

#order-until {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    // background-color: #222222;
    // color: $accentcolor;
    padding: 5px;
}

.modal {
    visibility: hidden;
    /* Hidden by default */
    display: block;
    position: fixed;
    /* Stay in place */
    z-index: 2;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    backdrop-filter: blur(2px);
    transition: all .5s ease;
    opacity: 0;
    &.active {
        visibility: visible;
        opacity: 1;
    }
    .modal-content {
        border-radius: 10px;
        // background-color: rgba(255, 255, 255, 0.8);
        margin: 15% auto;
        /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 40%;
        /* Could be more or less, depending on screen size */
        @include shadow;

        background-color: var(--md-sys-color-surface);
        color: var(--md-sys-color-on-surface);
    }
    .close {
        // color: #000000;
        float: right;
        font-size: 28px;
        font-weight: bold;
        &:hover,
        &:focus {
            // color: #ff4400;
            text-decoration: none;
            cursor: pointer;
        }
    }
    .btn {
        padding: 10px;
        // background-color: rgba(0, 0, 0, 0.25);
        margin-top: 10px;
        transition: background-color .1s linear;
        border-radius: 6px;
        cursor: pointer;
        text-decoration: none;
        // color: black;
        &:hover {
            cursor: not-allowed;
            &[href] {
                // background-color: var(--md-sys-color-primary);
                cursor: pointer;
            }
        }
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

@media screen and (max-width: 740px) {
    .modal {
        .modal-content {
            width: 80%;
        }
    }
    footer {
        display: none;
    }
}