@use "sass:math";
#navbar {
    overflow: hidden;
    background-color: #333;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
    span {
        color: $accentcolor;
        padding: 14px 16px;
        float: left;
        z-index: 1;
    }
    a {
        transition: background-color .1s linear;
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        z-index: 1;
        &.active {
            background-color: $accentcolor;
            color: white;
            z-index: 1;
        }
        &:hover {
            background-color: #ddd;
            color: black;
            z-index: 1;
        }
    }
    .icon {
        display: none;
        z-index: 1;
    }
}

@keyframes navLoad {
    @for $i from 0 through 100 {
        #{$i}% {
            background: linear-gradient(90deg, $accentcolor 0%, $accentcolor percentage(max(math.div(100 - $i, 100), 0.4)), rgba(0, 0, 0, 0) percentage(max(math.div(120 - $i, 100), 0.6)));
            max-width: percentage(math.div($i, 100));
        }
    }
}

@media screen and (max-width: 740px) {
    #navbar {
        a:not(:first-child) {
            visibility: hidden;
        }
        span {
            display: none;
            float: none;
            max-height: 0;
        }
        a.icon {
            float: right;
            display: block;
            padding: 9.5px 16px;
            position: absolute;
            visibility: visible;
            right: 0;
            top: 0;
        }
        &.responsive {
            @include shadow;
            height: 10.75rem;
            a,
            span {
                float: none;
                visibility: visible;
                text-align: left;
                &.active {
                    animation: navLoad .2s forwards;
                }
            }
            span {
                margin-top: 0;
                padding-top: 5px;
                border-top: 1px solid #ddd;
                display: block;
            }
        }
    }
}