@mixin shadow {
    box-shadow: 0 2px 2px 0 var(--md-sys-color-shadow), 0 3px 1px -2px var(--md-sys-color-shadow), 0 1px 5px 0 var(--md-sys-color-shadow);
}

@import "main";
@import "navbar";
@import "food";
@import "paypalmes";
@import "forms";
@import "accordion";
@import "loader";
@import "contextmenu";
@import "material-icons";
@import "material_design/theme.css";

.turbo-progress-bar {
    background-color: var(--md-sys-color-error);
    @include shadow;
}

body {
    transition: opacity 1000ms;
}
body.turbo-loading, body.turbo-loaded {
    opacity: .2;
}

@keyframes fade-out {
    from {opacity: 100%;}
    to {opacity: 20%;}
}

// hide on mobile
@media only screen and (max-width: 600px) {
    #showChangelog {
        display: none;
    }
}