$accentcolor: #ffa303;
@mixin shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

@import "main";
@import "navbar";
@import "food";
@import "paypalmes";
@import "forms";
@import "accordion";
@import "loader";
@import "contextmenu";
@import "material-icons";
@import "material_design/theme.css";

.turbo-progress-bar {
    background-color: var(--md-sys-color-error);
    @include shadow;
}

body {
    transition: opacity 1000ms;
}
body.turbo-loading, body.turbo-loaded {
    opacity: .2;
}

@keyframes fade-out {
    from {opacity: 100%;}
    to {opacity: 20%;}
  }

#showChangelog {
    position: fixed;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
    z-index: 99999;
    background-color: var(--md-sys-color-primary);
    padding: 10px;
    border-radius: 0 0 5px 5px;
    // fade out animation after 2 seconds
    animation-name: fade-out;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    @include shadow;
}

// hide on mobile
@media only screen and (max-width: 600px) {
    #showChangelog {
        display: none;
    }
}