<turbo-frame id="menu">
    {% if menu_disabled %}
        <h1 class="title-large on-background-text">Heute nicht verfügbar</h1>
    {% else %}
    {% for menu in htg %}
    <div class='foodcard title-medium on-surface-variant-text surface-variant'>
        <h2>{{menu.name}}</h2>

        <div class='actionbar'>
            <a class="btn body-medium primary on-primary-text" href="{{path('order', {'preorder': 0, 'slug': menu.slug})}}">Bestellen</a>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</turbo-frame>