{% extends 'base.html.twig' %}

{% block title %}Bezahlen{% endblock %}

{% block body %}
    <h2>Paypalierer</h2>
    <form method="POST">
    <div class="range-slider">
        <h4>Trinkgeld:</h4>
        <input max="5" min="0" name="tip" step="0.1" type="range" class="range-slider__range" value="0.5">
        <span class="range-slider__value"></span>
    </div>
    {% for paypalme in paypalmes %}
    <div class="paypalmeslistitemcontainer">
        <div class="paypalmeslistitem{% if paypalme.id == active %} active{% endif %}">
            <button value="{{ paypalme.id }}" name="id" type="submit" formtarget="_blank" class="paypalmebutton">{{paypalme.name}}</button>
        </div>
        {% if date(paypalme.bar) >= date() %}
        <span class="label red">Nur Barzahlung</span>
        {% endif %}
    </div>
    {% endfor %}
    </form>
    <p>Wenn du auch in der Liste stehen willst, kannst du dich <a href="{{path("paypal_add")}}">hier</a> eintragen.</p>
{% endblock %}
