{% extends 'base.html.twig' %}

{% block title %}{{ 'holidays.add'|trans }}{% endblock %}

{% block body %}
    <h1 class="title-large on-surface-text">{{ 'holidays.add'|trans }}</h1>
    {{form(form)}}
{% endblock %}
