:root {
  --md-source: #d49748;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #2a1700;
  --md-ref-palette-primary20: #472a00;
  --md-ref-palette-primary25: #563400;
  --md-ref-palette-primary30: #653e00;
  --md-ref-palette-primary35: #754900;
  --md-ref-palette-primary40: #855300;
  --md-ref-palette-primary50: #a76900;
  --md-ref-palette-primary60: #c6821d;
  --md-ref-palette-primary70: #e59c37;
  --md-ref-palette-primary80: #ffb95f;
  --md-ref-palette-primary90: #ffddb8;
  --md-ref-palette-primary95: #ffeede;
  --md-ref-palette-primary98: #fff8f4;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #281805;
  --md-ref-palette-secondary20: #3f2d17;
  --md-ref-palette-secondary25: #4b3821;
  --md-ref-palette-secondary30: #57432b;
  --md-ref-palette-secondary35: #644f36;
  --md-ref-palette-secondary40: #715a41;
  --md-ref-palette-secondary50: #8b7358;
  --md-ref-palette-secondary60: #a68c70;
  --md-ref-palette-secondary70: #c2a788;
  --md-ref-palette-secondary80: #dfc2a2;
  --md-ref-palette-secondary90: #fcddbd;
  --md-ref-palette-secondary95: #ffeede;
  --md-ref-palette-secondary98: #fff8f4;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #131f02;
  --md-ref-palette-tertiary20: #273513;
  --md-ref-palette-tertiary25: #32401d;
  --md-ref-palette-tertiary30: #3d4c28;
  --md-ref-palette-tertiary35: #485732;
  --md-ref-palette-tertiary40: #54643d;
  --md-ref-palette-tertiary50: #6c7d54;
  --md-ref-palette-tertiary60: #86976c;
  --md-ref-palette-tertiary70: #a0b184;
  --md-ref-palette-tertiary80: #bbcd9e;
  --md-ref-palette-tertiary90: #d7e9b8;
  --md-ref-palette-tertiary95: #e5f8c6;
  --md-ref-palette-tertiary98: #f0ffd5;
  --md-ref-palette-tertiary99: #f9ffe8;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #1f1b16;
  --md-ref-palette-neutral20: #352f2a;
  --md-ref-palette-neutral25: #403a35;
  --md-ref-palette-neutral30: #4c4640;
  --md-ref-palette-neutral35: #58514c;
  --md-ref-palette-neutral40: #645d57;
  --md-ref-palette-neutral50: #7d766f;
  --md-ref-palette-neutral60: #978f89;
  --md-ref-palette-neutral70: #b2aaa3;
  --md-ref-palette-neutral80: #cec5bd;
  --md-ref-palette-neutral90: #ebe1d9;
  --md-ref-palette-neutral95: #f9efe7;
  --md-ref-palette-neutral98: #fff8f4;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #221a10;
  --md-ref-palette-neutral-variant20: #382f24;
  --md-ref-palette-neutral-variant25: #443a2f;
  --md-ref-palette-neutral-variant30: #504539;
  --md-ref-palette-neutral-variant35: #5c5045;
  --md-ref-palette-neutral-variant40: #685c50;
  --md-ref-palette-neutral-variant50: #827568;
  --md-ref-palette-neutral-variant60: #9c8e80;
  --md-ref-palette-neutral-variant70: #b8a99a;
  --md-ref-palette-neutral-variant80: #d4c4b5;
  --md-ref-palette-neutral-variant90: #f1e0d0;
  --md-ref-palette-neutral-variant95: #ffeede;
  --md-ref-palette-neutral-variant98: #fff8f4;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #855300;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #ffddb8;
  --md-sys-color-on-primary-container-light: #2a1700;
  --md-sys-color-secondary-light: #715a41;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #fcddbd;
  --md-sys-color-on-secondary-container-light: #281805;
  --md-sys-color-tertiary-light: #54643d;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #d7e9b8;
  --md-sys-color-on-tertiary-container-light: #131f02;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-on-background-light: #1f1b16;
  --md-sys-color-surface-light: #fffbff;
  --md-sys-color-on-surface-light: #1f1b16;
  --md-sys-color-surface-variant-light: #f1e0d0;
  --md-sys-color-on-surface-variant-light: #504539;
  --md-sys-color-outline-light: #827568;
  --md-sys-color-inverse-on-surface-light: #f9efe7;
  --md-sys-color-inverse-surface-light: #352f2a;
  --md-sys-color-inverse-primary-light: #ffb95f;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #855300;
  --md-sys-color-surface-tint-color-light: #855300;
  /* dark */
  --md-sys-color-primary-dark: #ffb95f;
  --md-sys-color-on-primary-dark: #472a00;
  --md-sys-color-primary-container-dark: #653e00;
  --md-sys-color-on-primary-container-dark: #ffddb8;
  --md-sys-color-secondary-dark: #dfc2a2;
  --md-sys-color-on-secondary-dark: #3f2d17;
  --md-sys-color-secondary-container-dark: #57432b;
  --md-sys-color-on-secondary-container-dark: #fcddbd;
  --md-sys-color-tertiary-dark: #bbcd9e;
  --md-sys-color-on-tertiary-dark: #273513;
  --md-sys-color-tertiary-container-dark: #3d4c28;
  --md-sys-color-on-tertiary-container-dark: #d7e9b8;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1f1b16;
  --md-sys-color-on-background-dark: #ebe1d9;
  --md-sys-color-surface-dark: #1f1b16;
  --md-sys-color-on-surface-dark: #ebe1d9;
  --md-sys-color-surface-variant-dark: #504539;
  --md-sys-color-on-surface-variant-dark: #d4c4b5;
  --md-sys-color-outline-dark: #9c8e80;
  --md-sys-color-inverse-on-surface-dark: #1f1b16;
  --md-sys-color-inverse-surface-dark: #ebe1d9;
  --md-sys-color-inverse-primary-dark: #855300;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #ffb95f;
  --md-sys-color-surface-tint-color-dark: #ffb95f;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  --md-sys-typescale-label-small-line-height: 16px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  --md-sys-typescale-label-medium-line-height: 16px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  --md-sys-typescale-label-large-line-height: 20px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  --md-sys-typescale-body-small-line-height: 16px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  --md-sys-typescale-body-medium-line-height: 20px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  --md-sys-typescale-body-large-line-height: 24px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  --md-sys-typescale-headline-small-line-height: 32px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  --md-sys-typescale-headline-large-line-height: 40px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  --md-sys-typescale-display-small-line-height: 44px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  --md-sys-typescale-display-medium-line-height: 52px;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  --md-sys-typescale-display-large-line-height: 64px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
  --md-sys-typescale-title-small-line-height: 20px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  --md-sys-typescale-title-medium-line-height: 24px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  --md-sys-typescale-title-large-line-height: 28px;
}
