:root {
  --md-source: #f7c60c;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #241a00;
  --md-ref-palette-primary20: #3d2f00;
  --md-ref-palette-primary25: #4a3900;
  --md-ref-palette-primary30: #584400;
  --md-ref-palette-primary35: #665000;
  --md-ref-palette-primary40: #745b00;
  --md-ref-palette-primary50: #927300;
  --md-ref-palette-primary60: #b08c00;
  --md-ref-palette-primary70: #d0a600;
  --md-ref-palette-primary80: #f1c100;
  --md-ref-palette-primary90: #ffe08b;
  --md-ref-palette-primary95: #ffefcd;
  --md-ref-palette-primary98: #fff8f1;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #231b04;
  --md-ref-palette-secondary20: #392f15;
  --md-ref-palette-secondary25: #443a1f;
  --md-ref-palette-secondary30: #50462a;
  --md-ref-palette-secondary35: #5c5134;
  --md-ref-palette-secondary40: #695d3f;
  --md-ref-palette-secondary50: #837656;
  --md-ref-palette-secondary60: #9d906e;
  --md-ref-palette-secondary70: #b9aa87;
  --md-ref-palette-secondary80: #d5c5a1;
  --md-ref-palette-secondary90: #f2e1bb;
  --md-ref-palette-secondary95: #ffefcd;
  --md-ref-palette-secondary98: #fff8f1;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #03210c;
  --md-ref-palette-tertiary20: #19361f;
  --md-ref-palette-tertiary25: #244229;
  --md-ref-palette-tertiary30: #2f4d34;
  --md-ref-palette-tertiary35: #3b593f;
  --md-ref-palette-tertiary40: #47664a;
  --md-ref-palette-tertiary50: #5f7f62;
  --md-ref-palette-tertiary60: #78997a;
  --md-ref-palette-tertiary70: #92b494;
  --md-ref-palette-tertiary80: #adcfae;
  --md-ref-palette-tertiary90: #c8ecc9;
  --md-ref-palette-tertiary95: #d6fad7;
  --md-ref-palette-tertiary98: #eaffe8;
  --md-ref-palette-tertiary99: #f6fff2;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #2b1700;
  --md-ref-palette-neutral20: #472a00;
  --md-ref-palette-neutral25: #563400;
  --md-ref-palette-neutral30: #653e00;
  --md-ref-palette-neutral35: #754800;
  --md-ref-palette-neutral40: #865300;
  --md-ref-palette-neutral50: #a76900;
  --md-ref-palette-neutral60: #ca8000;
  --md-ref-palette-neutral70: #ef9800;
  --md-ref-palette-neutral80: #ffb960;
  --md-ref-palette-neutral90: #ffddb8;
  --md-ref-palette-neutral95: #ffeede;
  --md-ref-palette-neutral98: #fff8f4;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #1f1b10;
  --md-ref-palette-neutral-variant20: #353024;
  --md-ref-palette-neutral-variant25: #403b2e;
  --md-ref-palette-neutral-variant30: #4c4639;
  --md-ref-palette-neutral-variant35: #585244;
  --md-ref-palette-neutral-variant40: #645e4f;
  --md-ref-palette-neutral-variant50: #7e7667;
  --md-ref-palette-neutral-variant60: #989080;
  --md-ref-palette-neutral-variant70: #b3aa99;
  --md-ref-palette-neutral-variant80: #cfc6b4;
  --md-ref-palette-neutral-variant90: #ebe1cf;
  --md-ref-palette-neutral-variant95: #faf0dd;
  --md-ref-palette-neutral-variant98: #fff8f1;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #745b00;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #ffe08b;
  --md-sys-color-on-primary-container-light: #241a00;
  --md-sys-color-secondary-light: #695d3f;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #f2e1bb;
  --md-sys-color-on-secondary-container-light: #231b04;
  --md-sys-color-tertiary-light: #47664a;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #c8ecc9;
  --md-sys-color-on-tertiary-container-light: #03210c;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-on-background-light: #2b1700;
  --md-sys-color-surface-light: #fffbff;
  --md-sys-color-on-surface-light: #2b1700;
  --md-sys-color-surface-variant-light: #ebe1cf;
  --md-sys-color-on-surface-variant-light: #4c4639;
  --md-sys-color-outline-light: #7e7667;
  --md-sys-color-inverse-on-surface-light: #ffeede;
  --md-sys-color-inverse-surface-light: #472a00;
  --md-sys-color-inverse-primary-light: #f1c100;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #745b00;
  --md-sys-color-surface-tint-color-light: #745b00;
  /* dark */
  --md-sys-color-primary-dark: #f1c100;
  --md-sys-color-on-primary-dark: #3d2f00;
  --md-sys-color-primary-container-dark: #584400;
  --md-sys-color-on-primary-container-dark: #ffe08b;
  --md-sys-color-secondary-dark: #d5c5a1;
  --md-sys-color-on-secondary-dark: #392f15;
  --md-sys-color-secondary-container-dark: #50462a;
  --md-sys-color-on-secondary-container-dark: #f2e1bb;
  --md-sys-color-tertiary-dark: #adcfae;
  --md-sys-color-on-tertiary-dark: #19361f;
  --md-sys-color-tertiary-container-dark: #2f4d34;
  --md-sys-color-on-tertiary-container-dark: #c8ecc9;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #2b1700;
  --md-sys-color-on-background-dark: #ffddb8;
  --md-sys-color-surface-dark: #2b1700;
  --md-sys-color-on-surface-dark: #ffddb8;
  --md-sys-color-surface-variant-dark: #4c4639;
  --md-sys-color-on-surface-variant-dark: #cfc6b4;
  --md-sys-color-outline-dark: #989080;
  --md-sys-color-inverse-on-surface-dark: #2b1700;
  --md-sys-color-inverse-surface-dark: #ffddb8;
  --md-sys-color-inverse-primary-dark: #745b00;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #f1c100;
  --md-sys-color-surface-tint-color-dark: #f1c100;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  --md-sys-typescale-label-small-line-height: 16px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  --md-sys-typescale-label-medium-line-height: 16px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  --md-sys-typescale-label-large-line-height: 20px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  --md-sys-typescale-body-small-line-height: 16px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  --md-sys-typescale-body-medium-line-height: 20px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  --md-sys-typescale-body-large-line-height: 24px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  --md-sys-typescale-headline-small-line-height: 32px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  --md-sys-typescale-headline-large-line-height: 40px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  --md-sys-typescale-display-small-line-height: 44px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  --md-sys-typescale-display-medium-line-height: 52px;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  --md-sys-typescale-display-large-line-height: 64px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
  --md-sys-typescale-title-small-line-height: 20px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  --md-sys-typescale-title-medium-line-height: 24px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  --md-sys-typescale-title-large-line-height: 28px;
}
